.allposts-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40%;
  cursor: pointer;
}
.postForm-btns__delete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  flex-direction: column;
}

@media(max-width: 768px) {
  .allposts-ul {
    font-size: small;
    white-space: nowrap;
    width: 50%;
  }
}