.updateErrText {
  font-size: 1.2rem;
  color: red;
}
.update-title {
  margin: 0.5rem;
}
.update-title label {
  margin: 0.5rem;
  font-size: 1.5rem;
}
.update-title input {
  margin: 0.5rem;
  font-size: 1.5rem;
  width: 50%;
}

.update-desc {
  margin: 1rem 1rem;
}

.update-desc label {
  font-size: 1.5rem;
}

.update-desc textarea {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 50%;
}
