
.updateErrText {
  font-size: 0.8rem;
  color: red;
}
.update-title {
  margin: 0.3rem;
}
.update-title label {
  margin: 0.3rem;
  font-size: 1rem;
}
.update-title input {
  padding: 0.3rem;
  font-size: 0.8rem;
  width: 55%;
}

.update-desc {
  margin: 0.3rem 0.3rem;
}

.update-desc label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.update-desc textarea {
  padding: 0.3rem;
  font-size: 0.8rem;
  width: 60%;
}
